.pageContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 80.5px;
}

.menuGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  padding-right: 20px;
  padding-top: 20px;
}

.sidebar {
  position: fixed;
  right: 0;
  width: 22%;
  border-left: 1px solid #ddd;
  text-align: left;
  height: 100%;
  padding: 24px;
  padding-right: 5vw;
}